@charset "UTF-8";

.leftbox {
    background-color: white;
    height: 600px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 100px;
    margin-top: 100px;
    /* text-align: justify;
    display:flex;
    flex-direction: row; */
    
}

.container {
    display: flex;
    background-color: white;
  }

  .image {
    margin-top: 180px;
    height: 800px;
    width: 500px;
    margin-left: 100px;
  }

  .leftbox h2 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .leftbox p {
    font-size: 20px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 16px;
    padding-top: 50px;
    padding-left: 60px ;
    padding-right: 60px;
  }