@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    background-color: #f4f4f4;
  }
  
  .main-container {
    display: flex;
    height: 100vh;
  }
  
  .property-list {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f4f4f4;
  }
  
  .property-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #254066;
    color: white;
    padding: 20px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: solid white;
  }
  
  .property-header h1 {
    font-size: 26px;
    font-weight: bold;
  }
  
  .property-controls {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .new-btn {
    padding: 8px 12px;
    background-color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  .new-btn a{
  	 color: #254066;
  }
  
  .property-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    color: black;
  }
  
   .property-table td {
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid #3a5d87;
  }
  .property-table th
  {
    padding: 16px;
    text-align: left;
    font-size: 19px;
    border-bottom: 2px solid #3a5d87;
    background-color: #436a9a;
    color: white;
  }
  
  .property-img {
    width: 135px;
    height: 135px;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .status {
    font-weight: bold;
  }
  
  .status.available {
    color: #00ff66;
  }
  
  .status.not-available {
    color: #ff4d4d;
  }
  
  .actions img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .entries-dropdown {
    padding: 20px;
    font-size: 14px;
    color: white;
    background-color: #254066;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  