@charset "UTF-8";
.rightbox{
    height: 700px;
    /* width: 265px; */
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    margin-right: 20px;
    margin-top:20px;
    margin-bottom:20px;
  }
  
  .rightbox h1{
  	margin-bottom:35px;
  	margin-top:7%
  }
  
  .rightbox p{
  	margin-bottom:20px;
  }
  
 .generate-button {
	padding: 10px;
	margin-top: 20px;

  	color: #fff;
  	border: none;	
  	border-radius: 8px;
  	font-size: 1.12rem;   
  	background: linear-gradient(to right, #356A95, #6B92B1);
  }